# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
ENV/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Testing
.coverage
htmlcov/
.pytest_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
!.env.example
